html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-wrapper,
.page-footer {
  background-color: #333333;
  color: white;
}

.page-footer {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  .page-footer {
    padding: 5px 10px;
    font-size: 0.9rem;
  }
  .book-item {
    max-width: 150px;
  }
}

@media (max-width: 480px) {
  .book-item {
    max-width: 100%;
    margin: 10px 0;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
}

.book-item {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 15px;
  padding: 10px;
  max-width: 200px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  overflow: hidden;
}

.book-item:hover {
  transform: scale(1.05);
}

.book-item img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  display: block;
  object-fit: cover;
  margin: 10px 0px;
}

.book-title {
  font-size: 1.2em;
  margin: 10px 0;
}

.book-year,
.book-type {
  font-size: 0.9em;
  margin: 5px 0;
}

.btn-modal-trigger {
  margin-top: auto;
  color: #61dafb;
  text-decoration: none;
}

.btn-modal-trigger:hover {
  text-decoration: underline;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0;
  list-style-type: none;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #f1f1f1;
  text-decoration: none;
  color: #333;
}

.pagination li.disabled a {
  color: #ccc;
  pointer-events: none;
}

.pagination li.active a {
  background-color: #1976d2;
  color: white;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999;
}

.progress {
  width: 70%;
  max-width: 400px;
}

.indeterminate {
  height: 8px;
}
